<section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">variants of covid 19</h2>
        <h3 class="section-subheading text-muted">Corona</h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Portfolio item 1-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal2"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/7.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">variant-1</div>
              <div class="portfolio-caption-subheading text-muted">variant-1</div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Portfolio item 3-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal3"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/8.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">variant-2</div>
              <div class="portfolio-caption-subheading text-muted">variant-2</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <!-- Portfolio item 4-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal4"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/9.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">variant-3</div>
              <div class="portfolio-caption-subheading text-muted">variant-3</div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <!-- Portfolio item 4-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal4"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/7.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">variant-4</div>
              <div class="portfolio-caption-subheading text-muted">variant-4</div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <!-- Portfolio item 4-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal4"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/8.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">variant-5</div>
              <div class="portfolio-caption-subheading text-muted">variant-5</div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal4"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/9.jpg" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">variant-6</div>
              <div class="portfolio-caption-subheading text-muted">variant-6</div>
            </div>
          </div>
        </div>
        &nbsp; &nbsp;
  
       
  
        <footer class="text-center text-lg-start bg-blue text-muted">
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas fa-gem me-3"></i>Tracker
                  </h6>
                  <p>
                    Here you can use rows and columns to organize your footer
                    content. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.Lorem ipsum
                  </p>
                </div>
  
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Services</h6>
                  <p>
                    <a href="#!" class="text-reset">Tracker 1</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Tracker 2</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Tracker 3</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Tracker 4</a>
                  </p>
                </div>
  
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                  <p>
                    <a href="#!" class="text-reset">Pricing</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Settings</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Orders</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Help</a>
                  </p>
                </div>
  
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase Contact mb-4">Contact</h6>
                  <p>
                    <i class="address-home me-3"></i>Alvai east nelliady jaffna
                  </p>
                  <p>
                    <i class="email"></i>
                    Tracker@gmail.com
                  </p>
                  <p><i class="phone"></i> + 077 1839595</p>
                </div>
              </div>
            </div>
          </section>
  
          <div
            class="text-center p-4"
            style="background-color: rgba(0, 0, 0, 0.05)"
          >
            <p>
              copyright © 2021 tracker.com Times Internet Limited| All rights
              reserved.
            </p>
          </div>
        </footer>
      </div>
    </div>
  </section>
npm  
