<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img style="width: 60px" src="../assets/logo1.jpg" alt="image" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-4" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#">About</a>
        </li>
      </ul>
      <div *ngIf="!ifUser" class="btn btn-outline-primary mx-3" type="submit">
        <a routerLink="login" class="text-decoration-none text-reset"> LOGIN</a>
      </div>
      <div *ngIf="ifUser" class="btn btn-outline-primary mx-3" type="submit">
        <a routerLink="login" class="text-decoration-none text-reset"> LOG OUT</a>
      </div> 
      <div *ngIf="ifUser" class=" mx-3" type="submit">
        <a routerLink="login" class="text-decoration-none text-reset text-uppercase fw-bold"> {{userData.username}}</a>
      </div>
      
      <!-- <div class="btn btn-outline-primary" type="submit">
        <a routerLink="signup" class="text-decoration-none text-reset">
          SIGNUP</a
        >
      </div> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
